

<section>
  <div class="container">
    <div class="client-header">
      <p><i class="fa fa-user" aria-hidden="true"></i> Client: {{clientName}}</p>
    </div>
  </div>
</section>


<section>
  <div class="container">

    <div class="form-wrap">

      <div class="section-header">
        <p><i class="fa fa-plus" aria-hidden="true"></i> Create Module</p>
      </div>

      <div class="module-wrap">

        <div class="create-module-content">

          <p>A module is a subject that will have readings allocated to it. Select a name and a type.</p>
          <form name="createModuleForm" ng-submit="submitModule()">
            <label>Module ID</label>
            <input type="text" name="moduleName" ng-model="user.moduleName" required>
            <br>
            <label>Module Type</label>
            <select id="module-generate-type" name="moduleType" ng-model="user.moduleType" required>
              <option value="">Select</option>
              <option ng-repeat="type in moduleTypes" value="{{type}}">{{type}}</option>
            </select>
            <br>
            <input type="submit" value="Submit" >
          </form>

        </div>

      </div>


    </div>

  </div>
</section>

<section>
  <div class="container">

    <div id="modules">

      <div class="section-header">
        <p><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i> Modules</p>
      </div>

      <div class="module-wrap" ng-repeat="module in modules | orderBy: 'module_name'">

        <div class="module-header" ng-click="showDetails = !showDetails">
          <p><i class="fa fa-leaf" aria-hidden="true"></i> {{::module.module_name}} - {{::module.module_type}} <i class="fa fa-chevron-down" aria-hidden="true"></i></p>
        </div>

        <div class="module-content">

          <div class="animation module-inner" ng-if="showDetails">

            <p class="view-readings" ng-click="viewModule()">View Readings <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
            <p class="delete-module" ng-click="deleteModule()"><i class="fa fa-trash" aria-hidden="true"></i> Delete Module</p>

            <p>Sensor ID: {{::module.sensor_id || ''}}</p>
            <p>Scale ID: {{::module.scale_id || ''}}</p>

            <p>Weight: {{module.weight_reading ? module.weight_reading + '' : ''}}</p>
            <p>Temperature: {{module.temperature_reading ? module.temperature_reading + ' F' : ''}}</p>
            <p>Humidity: {{module.humidity_reading ? module.humidity_reading + ' %' : ''}}</p>

            <form ng-submit="updateModule()" name="updateForm" class="" method="post">


              <div class="module-option">
                <label for='sensorId'>Assign Sensor</label>
                <select ng-model="module.sensor_id" ng-options="sensorId for sensorId in sensorIds" class="" name="sensorId"></select>
              </div>

              <div class="">
                <label for='scaleId'>Assign Scale</label>
                <select ng-model="module.scale_id" ng-options="scaleId as scaleId for scaleId in scaleIds" class="" name="scaleId"></select>
              </div>

              <div class="">
                <label for='notes'>Notes</label>
                <textarea ng-model="module.module_notes" name="notes" value="" rows="3" ng-minlength="0" ng-maxlength="250"></textarea>
                <span class="warning" ng-show="updateForm.notes.$invalid">Notes cannot contain more than 250 characters</span>
              </div>

              <!-- <input ng-model="moduleId" type="hidden"  name="moduleId" ng-value="{{module.moduleId}}"> -->
              <input type='submit' value='Submit' ng-disabled="updateForm.$invalid">


            </form>

          </div>


        </div>


      </div>


    </div>

  </div>
</section>

<section>
  <div class="container">



  </div>

</section>
