

<section>
  <div class="container">
    <div class="client-header">
      <p>Client: {{clientName}}</p>
    </div>
  </div>
</section>


<section>
  <div class="container">

    <div class="form-wrap">

      <div class="section-header">
        <p>Create Module</p>
      </div>

      <div class="module-wrap">

        <div class="module-content">

          <p>A module is a subject that will have readings allocated to it. Select a name and a type.</p>
          <form ng-submit="submitModule()">
            <label>Module ID</label>
            <input type="text" name="moduleName" ng-model="moduleName" required>
            <br>
            <label>Module Type</label>
            <select id="module-generate-type" name="moduleType" ng-model="moduleType" required>
              <option value="">Select</option>
              <option ng-repeat="type in moduleTypes" value="{{type}}">{{type}}</option>
            </select>
            <br>
            <input type="submit" value="Submit">
          </form>

        </div>

      </div>


    </div>

  </div>
</section>

<section>
  <div class="container">

    <div id="modules">

      <div class="section-header">
        <p>Modules</p>
      </div>

      <div class="module-wrap" ng-repeat="module in modules | orderBy: 'module_name'">

        <div class="module-header" ng-click="showDetails = !showDetails">
          <p>{{::module.module_name}} - {{::module.module_type}} &#9660;</p>
        </div>

        <div class="module-content">

          <div class="animation" ng-if="!showDetails">

            <p class="view-readings" ng-click="viewModule()">View Readings &#10145;</p>
            <p class="view-readings" ng-click="syncData()">Sync Data &#10145;</p>

            <p>Sensor ID: {{::module.sensor_id || ''}}</p>
            <p>Scale ID: {{::module.scale_id || ''}}</p>

            <p>Most recent weight: {{module.weight_reading ? module.weight_reading + '' : ''}}</p>
            <p>Most recent temperature: {{module.temperature_reading ? module.temperature_reading + ' F' : ''}}</p>
            <p>Most recent humidity: {{module.humidity_reading ? module.humidity_reading + ' %' : ''}}</p>

            <form ng-submit="updateModule()" name="" class="" method="post">

              <div class="module-option">
                <label for='sensorId'>Assign Sensor</label>
                <select ng-model="module.sensor_id" ng-options="sensorId for sensorId in sensorIds" class="" name="sensorId"></select>
              </div>

              <div class="">
                <label for='scaleId'>Assign Scale</label>
                <select ng-model="module.scale_id" ng-options="scaleId as scaleId for scaleId in scaleIds" class="" name="scaleId"></select>
              </div>

              <div class="">
                <label for='notes'>Notes</label>
                <textarea ng-model="module.module_notes" name="" value=""></textarea>
              </div>

              <!-- <input ng-model="moduleId" type="hidden"  name="moduleId" ng-value="{{module.moduleId}}"> -->
              <input type='submit' value='Submit'>

            </form>

          </div>


        </div>


      </div>


    </div>

  </div>
</section>

<section>
  <div class="container">



  </div>

</section>
