

<section>
  <div class="container">
    <div class="content-wrap">
      <h2>Client: {{clientId}}</h2>
    </div>
  </div>
</section>


<section>
  <div class="container">

    <div class="form-wrap">

      <h2>Create Module</h2>
      <p>A module is a subject that will have readings allocated to it. Select a name and a type.</p>
      <form ng-submit="submitModule()">
        <label>Module ID</label>
        <input type="text" name="moduleId" ng-model="moduleId" required>
        <br>
        <label>Module Type</label>
        <select id="module-generate-type" name="moduleType" ng-model="moduleType" required>
          <option value="">Select</option>
          <option ng-repeat="type in moduleTypes" value="{{type}}">{{type}}</option>
        </select>
        <br>
        <input type="submit" value="Submit">
      </form>

    </div>

  </div>
</section>

<section>
  <div class="container">

    <div id="modules">

      <div class="module-wrap" ng-repeat="module in modules">

        <h3>{{module.moduleId}} - {{module.moduleType}}</h3>
        <h4 ng-click="viewModule()">View Readings</h4>
        <!-- <h4>Sensor ID: {{module.sensorId}}</h4> -->
        <!-- <h4>Scale ID: {{module.scaleId}}</h4> -->
        <h4>Most recent weight: {{module.scaleReadings[0].weight1}}</h4>
        <h4>Most recent humidity: {{module.sensorReadings[0].hum1}}</h4>

        <form ng-submit="updateModule()" name="" class="" method="post">

          <div class="module-option">
            <label for='sensorId'>Assign Sensor</label>
            <select ng-model="modules[$index].sensorId" ng-options="sensorId for sensorId in sensorIds" class="" name="sensorId"></select>
          </div>

          <div class="">
            <label for='scaleId'>Assign Scale</label>
            <select ng-model="modules[$index].scaleId" ng-options="scaleId for scaleId in scaleIds" class="" name="scaleId"></select>
          </div>

          <div class="">
            <label for='notes'>Notes</label>
            <textarea ng-model="modules[$index].moduleNotes" name="" value=""></textarea>
          </div>

          <!-- <input ng-model="moduleId" type="hidden"  name="moduleId" ng-value="{{module.moduleId}}"> -->
          <input type='submit' value='Submit'>

        </form>

        <div class="reading-wrap">

          <div class="reading-list">
            Weight:
            <div ng-repeat="reading in modules[$index].scaleReadings | orderBy: '-'" class="">
              {{reading.weight1}}
            </div>
          </div>

          <div class="reading-list">
            Humidity:
            <div ng-repeat="reading in modules[$index].sensorReadings | orderBy: '-'" class="">
              {{reading.hum1}}
            </div>
          </div>

          <div class="reading-list">
            Temperature:
            <div ng-repeat="reading in modules[$index].sensorReadings | orderBy: '-'" class="">
              {{reading.temp1}}
            </div>
          </div>

        </div>




      </div>


    </div>

  </div>
</section>

<section>
  <div class="container">



  </div>

</section>
