
<section>

  <div class="container">

    <div class="content-wrap">

      <div class="home-content">

        <h3>Enter Client ID</h3>
        <p>Enter existing ID to view account or enter new ID to create a new account.</p>

        <form class="" ng-submit="submitClient()">
          <input type="text" ng-model="clientName">
          <input type="submit" value="Submit">
        </form>

      </div>
    </div>
    

    <div class="content-wrap">


      <div class="home-content">

        <h3>Select Client</h3>
        <p>Click on a client to view modules.</p>



        <div ng-repeat="client in clientList">
          <a ui-sref="client({clientId: client.client_id, clientName: client.client_name})" href="#">{{client.client_name}}</a>
        </div>

      </div>


    </div>

  </div>
</section>
