

<section>
  <div class="container" id="module_info">
    <div class="client-header">
      <p>Client: {{clientName}}</p>
      <p>Module: {{moduleName}}</p>
    </div>
  </div>
</section>


<section>
  <div class="container">

    <div class="content-wrap" id="combReadings">


      <div class="section-header">
        <p>Combination Readings</p>
      </div>

      <table>

        <tr>
          <th>Time</th>
          <th>Temp</th>
          <th>Hum</th>
          <th>Weight</th>
        </tr>

        <tr ng-repeat="reading in compReadings">
          <td>{{reading.time}}</td>
          <td>{{reading.temp + " F"}}</td>
          <td>{{reading.hum + " %"}}</td>
          <td>{{reading.weight}}</td>
        </tr>

      </table>

    </div>

    <div class="content-wrap" id="tempReadings">


      <div class="section-header">
        <p>Temperature Readings</p>
      </div>

      <table>

        <tr>
          <th>Sensor ID</th>
          <th>Time</th>
          <th>Temp</th>
        </tr>

        <tr ng-repeat="reading in temperatureReadings">
          <td>{{reading.sensor_id}}</td>
          <td>{{getTime()}}</td>
          <td>{{reading.temperature_reading + " F"}}</td>
        </tr>

      </table>

    </div>

    <div class="content-wrap" id="humReadings">

      <div class="section-header">
        <p>Humidity Readings</p>
      </div>

      <table>

        <tr>
          <th>Sensor ID</th>
          <th>Time</th>
          <th>Hum</th>
        </tr>

        <tr ng-repeat="reading in humidityReadings">
          <td>{{reading.sensor_id}}</td>
          <td>{{getTime()}}</td>
          <td>{{reading.humidity_reading + " %"}}</td>
        </tr>

      </table>

    </div>

    <div class="content-wrap" id="weightReadings">

      <div class="section-header">
        <p>Weight Readings</p>
      </div>

      <table>
        <tr>
          <th>Sensor ID</th>
          <th>Time</th>
          <th>Weight</th>
        </tr>

        <tr ng-repeat="reading in weightReadings">
          <td>{{reading.sensor_id}}</td>
          <td>{{getTime()}}</td>
          <td>{{reading.weight_reading}}</td>
        </tr>

      </table>

    </div>

  </div>
</section>
