

<section>
  <div class="container">
    <div class="content-wrap">
      <h2>Client: {{clientId}}</h2>
      <h2>Module: {{moduleId}}</h2>
    </div>
  </div>
</section>


<section>
  <div class="container">

    <div class="content-wrap" id="sensorReadings">

      <h3>Sensor Readings</h3>

      <table>

        <tr>
          <th>Time</th>
          <th>Temp</th>
          <th>Hum</th>
        </tr>

        <tr ng-repeat="reading in sensorReadings">
          <td>{{getTime()}}</td>
          <td>{{reading.temp1 + " F"}}</td>
          <td>{{reading.hum1}}</td>
        </tr>

      </table>

    </div>

    <div class="content-wrap" id="scaleReadings">

      <h3>Scale Readings</h3>

      <table>
        <tr>
          <th>Time</th>
          <th>Weight</th>
        </tr>

        <tr ng-repeat="reading in scaleReadings">
          <td>{{getTime()}}</td>
          <td>{{reading.weight1}}</td>
        </tr>

      </table>

    </div>

  </div>
</section>
