
<div class="container">
  <div class="content-wrap">
    <h2>Client: {{clientRes.clientId}}</h2>
  </div>
</div>

<div class="container">

  <div id="totes">



  </div>

</div>

<div class="container">

  <div class="form-wrap">

    <form action="/create_tote/:data" method="get">
      <label for="toteName">Create Tote</label>
      <input type="text" name="toteName">
      <input type="hidden" name="clientId" value="{{clientRes.clientId}}">
      <input type="submit" value="Submit">
    </form>

  </div>


</div>


<div class="graph">

</div>



<script type="text/javascript">

jQuery(document).ready(function($){

  var clientIdString = window.location.search;
  var clientIdArr = clientIdString.split('=');
  var clientId1 = clientIdArr[clientIdArr.length-1];
  var clientId = clientId1.replace("+", " ");
  var sensors = [21, 22, 23];

  console.log(clientId);

  jQuery.get('/get_data', {"clientId": clientId})
  .then(function(res){

    console.log('RESULT', res);

    for (var i = 0; i < res.totes.length; i++) {
      $('#totes').append("<div class='tote-wrap'><h3>" + res.totes[i].toteName + "</h3><form action='/asign_sensor/:data' method='get'><label for='sensorId'>Assign Sensor</label><select class='sensorSelect' type='text' name='sensorId'><option value='none'>None</option></select><input type='hidden' name='clientId' value='" + res.clientId + "'><input type='hidden' name='toteName' value='" + res.totes[i].toteName + "'><input type='submit' value='Submit'></form><div class='readings'>" + "</div></div>")
    }

    for (var i = 0; i < sensors.length; i++) {
      $('.sensorSelect').append("<option value=" + sensors[i] + ">" + sensors[i] + "</option>")
    }




  })



  var myVar = setInterval(function(){ myTimer() }, 30000);

  function myTimer() {
    console.log('CHECK');

    $('#totes').html('');

    jQuery.get('/get_data', {"clientId": clientId})
    .then(function(res){

      console.log('RESULT', res);

      for (var i = 0; i < res.totes.length; i++) {
        $('#totes').append("<div class='tote-wrap'><h3>" + res.totes[i].toteName + "</h3><form action='/asign_sensor/:data' method='get'><label for='sensorId'>Assign Sensor</label><select class='sensorSelect' type='text' name='sensorId'><option value='none'>None</option></select><input type='hidden' name='clientId' value='" + res.clientId + "'><input type='hidden' name='toteName' value='" + res.totes[i].toteName + "'><input type='submit' value='Submit'></form><div class='readings'>HUM " + res.totes[i].readings[res.totes[i].readings.length - 1].hum1 + " - TEMP " + res.totes[i].readings[res.totes[i].readings.length - 1].temp1 + "</div></div>")
      }

      for (var i = 0; i < sensors.length; i++) {
        $('.sensorSelect').append("<option value=" + sensors[i] + ">" + sensors[i] + "</option>")
      }




    })


  }



})
</script>
