<div class="container">

  <div class="content-wrap">


    <h3>Enter Client ID</h3>
    <p>Enter existing ID to view account or enter new ID to create a new account.</p>

    <form class="" action="/submit_id/:data" method="get">
      <input type="text" name="clientId">
      <input type="submit" value="Submit">
    </form>


  </div>

</div>
