<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/javascripts/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="container">
      <div class="header-wrap">
        <div id="logo-wrap">
          <a href="/"><img src="/images/cultivato.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </header>
  {{{body}}}
</body>
</html>
