<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="container">
      <div class="header-wrap">
        <a href="/"><h1>RoboPlant</h1></a>
      </div>
    </div>
  </header>
  {{{body}}}
</body>
</html>
