body{
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /*padding: 15px;*/
  max-width: 100%;
}

a {
  color: #00B7FF;
}

body{
  padding: 0;
  margin: 0
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo-wrap{
  width: 150px;
}

#logo-wrap img{
  width: 100%;
}

section{
  display: flex;
  justify-content: center;
  width: 100%;
}

.container{
  width: 80%;
  max-width: 960px;
}

#totes, .form-wrap, .content-wrap{
  padding: 15px;
  margin: 20px 0;
  background-color: #fff;
}

.tote-wrap{
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

/*.tote-wrap:nth-last-of-type(1){
  border-bottom: none;
}*/
.tote-wrap:nth-of-type(1){
  border-top: 1px solid black;
}

.header-wrap{
  background-color: #fff;
  padding: 15px;
}

.delete-tote{
  margin-top: 20px;
}
.delete-tote > input{
  background-color: red;
  color: #fff;
}

@media (max-width: 1200px){
  .container{
    width: 960px;
  }
}

@media (max-width: 960px){

}

@media (max-width: 600px){

}
