body{
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /*padding: 15px;*/
  max-width: 100%;
}

a {
  color: #00B7FF;
}

body{
  padding: 0;
  margin: 0
}

table{
  width: 100%;
}

th{
  text-align: left;
  background-color: #ccc;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

td{
  text-align: left;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;

}

textarea{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-wrap{
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
}

#logo-wrap{
  width: 150px;
}

#logo-wrap img{
  width: 100%;
}

section{
  display: flex;
  justify-content: center;
  width: 100%;
}

.container{
  width: 80%;
  max-width: 960px;
}

#modules, .form-wrap, .content-wrap{
  padding: 15px;
  margin: 10px 0;
  background-color: #fff;
}

.module-wrap{
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.module-wrap:nth-of-type(1){
  border-top: 1px solid black;
}

.module-wrap textarea{

}



.delete-tote{
  margin-top: 20px;
}
.delete-tote > input{
  background-color: red;
  color: #fff;
}

@media (max-width: 1200px){
  .container{
    width: 960px;
  }
}

@media (max-width: 960px){

}

@media (max-width: 600px){

}
