#40C7F6body{
  background-color: #f7f7f7!important;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*padding: 15px;*/
  max-width: 100%;
}

h2, h3{
  margin: 0!important;
}

a {
  color: #00B7FF;
}

table{
  width: 100%;
}

th{
  text-align: left;
  background-color: #ccc;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

td{
  text-align: left;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;

}

textarea{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-wrap{
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#logo-wrap{
  width: 150px;
}

#logo-wrap img{
  width: 100%;
}

section{
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-header{
  background-color: #73A742;
  color: #fff;
  padding: 15px;

}

.container{
  width: 80%;
  max-width: 960px;
}

#modules, .form-wrap, .content-wrap{
  /*padding: 0 15px;*/
  margin: 10px 0;
  background-color: #fff;
  overflow: auto;
  /*border-radius: 5px;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.client-header{
  background-color: #73A742;
  border-radius: 5px;
  padding: 15px;
  color: #fff;

}
.module-wrap{
  /*padding: 0 15px;*/
  background-color: #fff;
  border-radius: 5px;
  /*border-top: 1px solid black;*/
  clear: both;
}

.module-header{
  background-color: #73A742;
  padding: 15px;
  margin-top: 15px;
  color: #fff;
}

.module-content{
  padding: 15px;
  overflow: hidden;
}
.module-wrap{
  /*border-bottom: 1px solid black;*/
  overflow: hidden;
}

.module-wrap textarea{
}

.reading-wrap{
  display: flex;
}

.reading-list{
  flex: 1;
  padding: 20px 0;
  margin: 20px 0;
}

.delete-tote{
  margin-top: 20px;
}
.delete-tote > input{
  background-color: red;
  color: #fff;
}

.view-readings{
  background-color: #73A742;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}

/* The starting CSS styles for the enter animation */
.animation.ng-enter {
  transition:0.2s linear all;
  /*transform:translateY(-100%);*/
  position: relative;
  top: -200px;
}

/* The finishing CSS styles for the enter animation */
.animation.ng-enter.ng-enter-active {
  /*transform:translateY(0%);*/
  position: relative;
  top: 0;
}

/* The starting CSS styles for the enter animation */
.animation.ng-leave {
  transition:0.2s linear all;
  /*transform:translateY(-100%);*/
  position: relative;
  top: 0px;
}

/* The finishing CSS styles for the leave animation */
.animation.ng-leave.ng-leave-active {
  /*transform:translateY(0%);*/
  position: relative;
  top: -200px;
}



@media (max-width: 1200px){
  .container{
    width: 960px;
  }
}

@media (max-width: 960px){
  .container{
    width: 100%;
  }

}

@media (max-width: 600px){

}
